<div class="well col-4 justify-content-left box_login">
  <!-- <h3>Login</h3> -->
  <div class="row justify-content-between">
    <h4 class="col-5">BANDTADS</h4>
    <img src="../../../assets/img/logo.png" class="col-6 logo" />
  </div>

  <form #formLogin="ngForm">
    <div class="form-group">
      <label for="usuario">Usuario:</label>
      <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="login.login" #usuario="ngModel"
        required>
      <div *ngIf="usuario.errors && (usuario.dirty || usuario.touched)" class="alert alert-danger">
        <div [hidden]="!usuario.errors['required']">
          Digite o usuário.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" id="senha" name="senha" [(ngModel)]="login.senha" #senha="ngModel"
        required>
      <div *ngIf="senha.errors && (senha.dirty || senha.touched)" class="alert alert-danger">
        <div [hidden]="!senha.errors['required']">
          Digite a senha.
        </div>
      </div>
    </div>
    <hr>
    <button class="btn btn-success form-control" (click)="logar()" [disabled]="!formLogin.form.valid">
      <i class="fa fa-arrow-right" aria-hidden="true"></i> Logar
    </button>
  </form>
  <button class="btn btn-primary form-control" [routerLink]="['/cliente/novo']">
    <i class="fa fa-plus" aria-hidden="true"></i> Autocadastro
  </button>
  <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
  </div>
</div>